In [175]:
import func

# 主要目的
每个月（TRDMNT），只按一个因子进行排序，把公司从低到高分成ngroup组。
按照时间（月份）对被排序因子（sort_factor）进行排序。GroupN函数
我需要分行业，对公司匹配和处理。行业数据来自csmar。
对因子表中的每一个因子都做下面的处理。
但是在这里没有体现行业啊！
1. 分组（）
2. 对被排序的因子做所为处理
3. 计算每组收益（收益数据从哪里来？）
4. 得到各组及high_low的收益、t值
5. 导出

## 问题
1. 排序因子肯定都是

# 设置参数

In [ ]:
#排序因子
#在Saliance 中的第一个排序是按照什么进行排的？
#任意选取了一个指标,如“RDM”

In [177]:

#选取一个市场指数,如“000300”
index_name = '000300'

#定义起止时间
start_month = '20000101'
end_month = '202412'

#定义分组数
ngroup = 10

# 定义路径
op_path = 'dataouput'
if not os.path.exists(op_path):
    os.makedirs(op_path)

# 读取数据

In [178]:
import pandas as pd

input_file = 'CHN24/all_predictors.sas7bdat'
output_file = 'CHN24/all_predictors.csv'
chunk_size = 100000  # 每次处理 10 万行

In [179]:
import pandas as pd
import numpy as np
import func
import warnings
warnings.filterwarnings("ignore")
import os

In [180]:
# 1. 加载 autoreload 扩展
%load_ext autoreload

# 2. 设置为自动重载模式（2代表：只要 .py 文件一保存，这边自动更新）
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [181]:
# 调用这个函数
func.say_hello()

Hello World

In [182]:

# ==========================================
# 2. 读取 .csv 文件，大约需要6.3s
# ==========================================
df_csv=func.read_csv('CHN24/all_predictors.csv')

0    000002
1    000002
2    000002
3    000002
4    000002
Name: STKCD, dtype: object

CSV 数据预览：
    STKCD        date  mom6m  mom12m  mom36m     mom1m  chmom      turn  IPO  \
0  000002  1991-03-31    NaN     NaN     NaN       NaN    NaN       NaN  1.0
1  000002  1991-04-30    NaN     NaN     NaN  0.039972    NaN       NaN  1.0
2  000002  1991-05-31    NaN     NaN     NaN -0.126574    NaN  0.018804  1.0
3  000002  1991-06-30    NaN     NaN     NaN -0.116085    NaN  0.013065  1.0
4  000002  1991-07-31    NaN     NaN     NaN -0.030901    NaN  0.021065  1.0

   indmom  ...  VAHU  Hn  LFE  Adm  gAd  Ol  AnA  ReA  Tan  INA
0     NaN  ...   NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN
1     NaN  ...   NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN
2     NaN  ...   NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN
3     NaN  ...   NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN
4     NaN  ...   NaN NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN

[5 rows x 114 columns]

In [183]:
# 以列表形式打印所有列名
print(df_csv.columns.tolist())

['STKCD', 'date', 'mom6m', 'mom12m', 'mom36m', 'mom1m', 'chmom', 'turn', 'IPO', 'indmom', 'maxret', 'retvol', 'std_dolvol', 'std_turn', 'ill', 'zerotrade', 'beta', 'betasq', 'pricedelay', 'idiovol', 'prc', 'size', 'volt', 'B_Mkt', 'B_Mktsq', 'B_Dim', 'B_Dn', 'B_FF', 'B_HS', 'B_LSY', 'ACC', 'PACC', 'age', 'ATO', 'BM', 'CAPXG', 'CFD', 'CFOA', 'CFP', 'CP', 'CR', 'CRG', 'CTA', 'CTO', 'dBe', 'DP', 'EBIT', 'EP', 'EY', 'GM', 'GP', 'IVC', 'IVG', 'IA', 'am', 'LG', 'DER', 'DLME', 'NOA', 'NPOP', 'dPIA', 'PY', 'QR', 'QRG', 'RNA', 'ROA', 'ROE', 'ROIC', 'SC', 'SI', 'SMI', 'SP', 'SG', 'TG', 'TBI', 'Z', 'CHTX', 'CINVEST', 'realestate', 'salerev', 'IC', 'DA', 'DPR', 'TOR', 'EPS', 'CEPS', 'NCF', 'GS', 'ROO', 'RFI', 'TA', 'AD', 'FM', 'FOE', 'IP', 'FVAD', 'NAPS', 'RSGL', 'TMT', 'CAC', 'IBV', 'RDS', 'RDM', 'RCA', 'VAHU', 'Hn', 'LFE', 'Adm', 'gAd', 'Ol', 'AnA', 'ReA', 'Tan', 'INA']

In [184]:
print(sorted(df_csv['date'].dropna().unique()))
print(df_csv['date'].dtype)

['1991-02-28', '1991-03-31', '1991-04-30', '1991-05-31', '1991-06-30', '1991-07-31', '1991-08-31', '1991-09-30', '1991-10-31', '1991-11-30', '1991-12-31', '1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30', '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31', '1992-09-30', '1992-10-31', '1992-11-30', '1992-12-31', '1993-01-31', '1993-02-28', '1993-03-31', '1993-04-30', '1993-05-31', '1993-06-30', '1993-07-31', '1993-08-31', '1993-09-30', '1993-10-31', '1993-11-30', '1993-12-31', '1994-01-31', '1994-02-28', '1994-03-31', '1994-04-30', '1994-05-31', '1994-06-30', '1994-07-31', '1994-08-31', '1994-09-30', '1994-10-31', '1994-11-30', '1994-12-31', '1995-01-31', '1995-02-28', '1995-03-31', '1995-04-30', '1995-05-31', '1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30', '1995-10-31', '1995-11-30', '1995-12-31', '1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31', '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31', '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31', '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31', '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31', '2025-01-31']
object

## 数据清理

In [185]:
df_csv.dtypes.sort_values()

DER        float64
DPR        float64
DA         float64
IC         float64
salerev    float64
            ...
PACC       float64
ACC        float64
CTA        float64
date        object
STKCD       object
Length: 114, dtype: object

In [186]:
obj_cols = df_csv.select_dtypes(include="object").columns
float64_cols = df_csv.select_dtypes(include="float64").columns

print("object列数量:", len(obj_cols))
print("float64列数量:", len(float64_cols))
print(obj_cols.tolist()[:50])

object列数量: 2
float64列数量: 112
['STKCD', 'date']

## 修改日期的格式为YYYYMM int

In [187]:
import func
df_csv["TRDMNT"] = df_csv["date"]
df_csv=func.to_month_period(df_csv, "TRDMNT")
print(df_csv["TRDMNT"].dtype)
print(df_csv["TRDMNT"].isna().sum())
print(df_csv[["TRDMNT"]].head())

period[M]
0
    TRDMNT
0  1991-03
1  1991-04
2  1991-05
3  1991-06
4  1991-07

In [188]:
print(df_csv.columns.tolist())

['STKCD', 'date', 'mom6m', 'mom12m', 'mom36m', 'mom1m', 'chmom', 'turn', 'IPO', 'indmom', 'maxret', 'retvol', 'std_dolvol', 'std_turn', 'ill', 'zerotrade', 'beta', 'betasq', 'pricedelay', 'idiovol', 'prc', 'size', 'volt', 'B_Mkt', 'B_Mktsq', 'B_Dim', 'B_Dn', 'B_FF', 'B_HS', 'B_LSY', 'ACC', 'PACC', 'age', 'ATO', 'BM', 'CAPXG', 'CFD', 'CFOA', 'CFP', 'CP', 'CR', 'CRG', 'CTA', 'CTO', 'dBe', 'DP', 'EBIT', 'EP', 'EY', 'GM', 'GP', 'IVC', 'IVG', 'IA', 'am', 'LG', 'DER', 'DLME', 'NOA', 'NPOP', 'dPIA', 'PY', 'QR', 'QRG', 'RNA', 'ROA', 'ROE', 'ROIC', 'SC', 'SI', 'SMI', 'SP', 'SG', 'TG', 'TBI', 'Z', 'CHTX', 'CINVEST', 'realestate', 'salerev', 'IC', 'DA', 'DPR', 'TOR', 'EPS', 'CEPS', 'NCF', 'GS', 'ROO', 'RFI', 'TA', 'AD', 'FM', 'FOE', 'IP', 'FVAD', 'NAPS', 'RSGL', 'TMT', 'CAC', 'IBV', 'RDS', 'RDM', 'RCA', 'VAHU', 'Hn', 'LFE', 'Adm', 'gAd', 'Ol', 'AnA', 'ReA', 'Tan', 'INA', 'TRDMNT']

## 按照日期类型排序

In [ ]:
#df_clean=func.cleanBlank(df_csv, 'TRDMNT','STKCD')
#print(df_clean.head())

firstSort: 删除了 735073 行（740845 → 5772）
        STKCD        date     mom6m    mom12m    mom36m     mom1m     chmom  \
25903  000404  2014-07-31 -0.088187 -0.138364 -0.132333 -0.003650 -0.036485
27424  000410  2014-07-31  0.018612 -0.027464 -0.416281 -0.008306  0.055385
92153  000731  2014-07-31 -0.311548 -0.493922  1.029172  0.011076 -0.039017
92752  000733  2014-07-31  0.203806  0.262777 -0.074452  0.063256  0.230967
99609  000777  2014-07-31 -0.015070 -0.005435 -0.284763  0.014754 -0.010320

           turn  IPO    indmom  ...        Hn       LFE       Adm       gAd  \
25903  4.436356  0.0  0.092142  ...  0.022966  0.170709  0.007120  1.395088
27424  2.148386  0.0  0.092142  ... -0.008941 -0.043862  0.012406 -0.082675
92153  8.476014  0.0  0.092142  ...  0.150693 -0.237754  0.001934  0.388712
92752  1.973812  0.0  0.092142  ... -0.176652  0.193304  0.001827 -0.369872
99609  2.509755  0.0  0.092142  ... -0.050920  0.220020  0.005912  0.015725

             Ol   AnA   ReA       Tan       INA   TRDMNT
25903  1.000964  11.0  20.0  0.486807  0.024059  2014-07
27424  0.415115   1.0   1.0  0.576153  0.046592  2014-07
92153  1.163176  14.0  26.0  0.566533  0.044302  2014-07
92752  0.743494   1.0   2.0  0.494767  0.026253  2014-07
99609  0.487756   1.0   1.0  0.538846  0.043056  2014-07

[5 rows x 115 columns]

# 合并 月度return

In [161]:
df_monret=func.read_csv('CHN24/monret.csv')

0    000001
1    000001
2    000001
3    000001
4    000001
Name: STKCD, dtype: object

CSV 数据预览：
    STKCD   TRDMNT  OPNDT  MOPNPRC  CLSDT  MCLSPRC  MNSHRTRD    MNVALTRD  \
0  000001  1991-04      3    49.00     30    43.68     13400    615000.0
1  000001  1991-05      2    43.46     31    38.34    187800   7675000.0
2  000001  1991-06      1    38.53     28    33.99     30600   1094000.0
3  000001  1991-07      1    33.65     31    29.54      6100    194043.0
4  000001  1991-08      1    29.39     31    15.00   3243100  49576242.0

      MSMVOSD     MSMVTTL  NDAYTRD    MRETWD    MRETND  MARKETTYPE  \
0  1157520.00  2118487.47       20       NaN       NaN           4
1  1016010.00  1859496.56       24 -0.122253  0.235714           4
2   900735.00  1648520.81       23 -0.113459 -0.113459           4
3   782810.00  1432695.05       16 -0.130921 -0.130921           4
4   674833.82  1346274.65       15 -0.411588 -0.411587           4

     CAPCHGDT  AHSHRTRD_M  AHVALTRD_M
0  1991-04-03         NaN         NaN
1  1991-04-03         NaN         NaN
2  1991-04-03         NaN         NaN
3  1991-04-03         NaN         NaN
4  1991-08-01         NaN         NaN

In [162]:
print(df_monret['TRDMNT'].dtype)

object

In [163]:
df_monret["TRDMNT"] = (
    pd.to_datetime(df_monret["TRDMNT"], errors="coerce")
      .dt.to_period("M")
)

In [164]:
print(df_monret["TRDMNT"].dtype)
print(df_monret["TRDMNT"].isna().sum())
print(df_monret[["TRDMNT"]].head())

period[M]
0
    TRDMNT
0  1991-04
1  1991-05
2  1991-06
3  1991-07
4  1991-08

In [ ]:
print(df_csv['STKCD'].dtype)
print(df_monret['STKCD'].dtype)

object
object

def match_df_flex(
    df1: pd.DataFrame,
    df2: pd.DataFrame,
    *,
    left_on: list[str],
    right_on: list[str],
    how: str = "left",
    validate: str = "many_to_one"
):

In [190]:
keys = ['STKCD','TRDMNT']   # 换成你 df2 真实的列名
df_monret[keys].duplicated().any()

np.False_

In [191]:
df_merged=func.match_df_flex(df_csv, df_monret, left_on=['STKCD','TRDMNT'], right_on=['STKCD','TRDMNT'], how='left',validate='many_to_one')

In [192]:
print(df_merged.columns.tolist())

['STKCD', 'date', 'mom6m', 'mom12m', 'mom36m', 'mom1m', 'chmom', 'turn', 'IPO', 'indmom', 'maxret', 'retvol', 'std_dolvol', 'std_turn', 'ill', 'zerotrade', 'beta', 'betasq', 'pricedelay', 'idiovol', 'prc', 'size', 'volt', 'B_Mkt', 'B_Mktsq', 'B_Dim', 'B_Dn', 'B_FF', 'B_HS', 'B_LSY', 'ACC', 'PACC', 'age', 'ATO', 'BM', 'CAPXG', 'CFD', 'CFOA', 'CFP', 'CP', 'CR', 'CRG', 'CTA', 'CTO', 'dBe', 'DP', 'EBIT', 'EP', 'EY', 'GM', 'GP', 'IVC', 'IVG', 'IA', 'am', 'LG', 'DER', 'DLME', 'NOA', 'NPOP', 'dPIA', 'PY', 'QR', 'QRG', 'RNA', 'ROA', 'ROE', 'ROIC', 'SC', 'SI', 'SMI', 'SP', 'SG', 'TG', 'TBI', 'Z', 'CHTX', 'CINVEST', 'realestate', 'salerev', 'IC', 'DA', 'DPR', 'TOR', 'EPS', 'CEPS', 'NCF', 'GS', 'ROO', 'RFI', 'TA', 'AD', 'FM', 'FOE', 'IP', 'FVAD', 'NAPS', 'RSGL', 'TMT', 'CAC', 'IBV', 'RDS', 'RDM', 'RCA', 'VAHU', 'Hn', 'LFE', 'Adm', 'gAd', 'Ol', 'AnA', 'ReA', 'Tan', 'INA', 'TRDMNT', 'OPNDT', 'MOPNPRC', 'CLSDT', 'MCLSPRC', 'MNSHRTRD', 'MNVALTRD', 'MSMVOSD', 'MSMVTTL', 'NDAYTRD', 'MRETWD', 'MRETND', 'MARKETTYPE', 'CAPCHGDT', 'AHSHRTRD_M', 'AHVALTRD_M']

In [193]:
#删除列'OPNDT', 'MOPNPRC', 'CLSDT', 'MCLSPRC', 'MNSHRTRD', 'MNVALTRD', 'MSMVOSD', 'MSMVTTL', 'NDAYTRD', 'MARKETTYPE', 'CAPCHGDT', 'AHSHRTRD_M', 'AHVALTRD_M'
cols_to_drop = [
    'OPNDT', 'MOPNPRC', 'CLSDT', 'MCLSPRC', 'MNSHRTRD', 'MNVALTRD',
    'MSMVOSD', 'MSMVTTL', 'NDAYTRD', 'MARKETTYPE', 'CAPCHGDT',
    'AHSHRTRD_M', 'AHVALTRD_M'
]

df_merged = df_merged.drop(columns=cols_to_drop)

In [ ]:
print(df_merged.columns.tolist())

['STKCD', 'date', 'mom6m', 'mom12m', 'mom36m', 'mom1m', 'chmom', 'turn', 'IPO', 'indmom', 'maxret', 'retvol', 'std_dolvol', 'std_turn', 'ill', 'zerotrade', 'beta', 'betasq', 'pricedelay', 'idiovol', 'prc', 'size', 'volt', 'B_Mkt', 'B_Mktsq', 'B_Dim', 'B_Dn', 'B_FF', 'B_HS', 'B_LSY', 'ACC', 'PACC', 'age', 'ATO', 'BM', 'CAPXG', 'CFD', 'CFOA', 'CFP', 'CP', 'CR', 'CRG', 'CTA', 'CTO', 'dBe', 'DP', 'EBIT', 'EP', 'EY', 'GM', 'GP', 'IVC', 'IVG', 'IA', 'am', 'LG', 'DER', 'DLME', 'NOA', 'NPOP', 'dPIA', 'PY', 'QR', 'QRG', 'RNA', 'ROA', 'ROE', 'ROIC', 'SC', 'SI', 'SMI', 'SP', 'SG', 'TG', 'TBI', 'Z', 'CHTX', 'CINVEST', 'realestate', 'salerev', 'IC', 'DA', 'DPR', 'TOR', 'EPS', 'CEPS', 'NCF', 'GS', 'ROO', 'RFI', 'TA', 'AD', 'FM', 'FOE', 'IP', 'FVAD', 'NAPS', 'RSGL', 'TMT', 'CAC', 'IBV', 'RDS', 'RDM', 'RCA', 'VAHU', 'Hn', 'LFE', 'Adm', 'gAd', 'Ol', 'AnA', 'ReA', 'Tan', 'INA', 'TRDMNT', 'MRETWD', 'MRETND']

In [202]:
col=df_merged.columns.tolist()
remove_cols = {'STKCD', 'date', 'TRDMNT', 'MRETWD', 'MRETND'}
colist = [c for c in col if c not in remove_cols]

In [ ]:
print(df_merged.shape[0])

740845

In [209]:
df_merged_clean = func.cleanBlank(df_merged, 'TRDMNT','STKCD')

firstSort: 删除了 735141 行（740845 → 5704）

# 1 缩尾处理
缩尾后都要看一下这个缩尾结果好不好
1%缩尾

size在这里是滞后一期的吗？

怎样观察是否需要进行缩尾处理勒？
怎么观察缩尾后的结果是好是坏勒？
缩尾到底是放在分组前还是放在分组后勒？
这个以后也要写成循环

In [230]:
df_winsor=df_merged_clean.copy()

In [ ]:
winsor = func.Winsorize(df_winsor, "TRDMNT",'size')
df_winsor = winsor.get()
print(df_winsor)

In [ ]:

'''winsor = func.Winsorize(df_winsor, ["TRDMNT",f"{sort_factor}_g{ngroup}" ],'mvlag')
df_winsor = winsor.get()'''

# 2 GroupN 
按照月份分组

In [235]:
df_group=df_winsor.copy

In [236]:
ok_factors,df_list = func.safe_groupN_loop(df_merged_clean, colist, time_col="TRDMNT", n_group= ngroup)

[OK] mom6m
[OK] mom12m
[OK] mom36m
[OK] mom1m
[OK] chmom
[OK] turn
[SKIP] IPO → ValueError: Bin edges must be unique: Index([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[SKIP] indmom → ValueError: Bin edges must be unique: Index([ -0.051547181815398, 0.02265027116209338,  0.0921423148070442,
        0.0921423148070442,  0.0921423148070442,  0.0921423148070442,
        0.0921423148070442,  0.0921423148070442,  0.0921423148070442,
        0.0921423148070442,  0.3014055698158278],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] maxret
[OK] retvol
[OK] std_dolvol
[OK] std_turn
[OK] ill
[OK] zerotrade
[OK] beta
[OK] betasq
[OK] pricedelay
[OK] idiovol
[OK] prc
[OK] size
[OK] volt
[OK] B_Mkt
[OK] B_Mktsq
[OK] B_Dim
[OK] B_Dn
[OK] B_FF
[OK] B_HS
[OK] B_LSY
[OK] ACC
[OK] PACC
[SKIP] age → ValueError: Bin edges must be unique: Index([               5.0,                5.0,                6.0,
       6.8000000000000025,  7.400000000000002,                9.0,
        9.600000000000005,               13.0, 15.600000000000009,
                     16.0,               20.0],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] ATO
[OK] BM
[OK] CAPXG
[OK] CFD
[OK] CFOA
[OK] CFP
[OK] CP
[OK] CR
[OK] CRG
[OK] CTA
[OK] CTO
[OK] dBe
[SKIP] DP → ValueError: Bin edges must be unique: Index([                   0.0,                    0.0,                    0.0,
                          0.0,                    0.0,                    0.0,
                          0.0, 0.00026976123424909986,  0.0009833993931614405,
          0.00276915898891616,     0.0127983362572412],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] EBIT
[OK] EP
[OK] EY
[OK] GM
[OK] GP
[OK] IVC
[OK] IVG
[OK] IA
[OK] am
[OK] LG
[OK] DER
[OK] DLME
[OK] NOA
[OK] NPOP
[OK] dPIA
[OK] PY
[OK] QR
[OK] QRG
[OK] RNA
[OK] ROA
[OK] ROE
[OK] ROIC
[OK] SC
[OK] SI
[OK] SMI
[OK] SP
[OK] SG
[OK] TG
[OK] TBI
[OK] Z
[OK] CHTX
[OK] CINVEST
[SKIP] realestate → ValueError: Bin edges must be unique: Index([                  0.0,                   0.0,                   0.0,
                         0.0,                   0.0,                   0.0,
       0.0020625087774447173,   0.01220203120292826,  0.037028984783953243,
         0.19818176384033853,     4.432374892068736],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] salerev
[SKIP] IC → ValueError: Bin edges must be unique: Index([                  0.0,                   0.0,                   0.0,
       0.0006100876689060605,  0.005777439521052123,    0.0195517264133458,
        0.041891174113110205,   0.11455727052032483,   0.22480215084745683,
          0.7973600436203718,    3.9469084023057586],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] DA
[SKIP] DPR → ValueError: Bin edges must be unique: Index([ -2.5413440957681033,                  0.0,                  0.0,
                        0.0,                  0.0,                  0.0,
                        0.0, 0.003478770352698157, 0.019515790593418705,
        0.09597266109374578,   0.7936796902190789],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] TOR
[OK] EPS
[OK] CEPS
[OK] NCF
[OK] GS
[OK] ROO
[SKIP] RFI → ValueError: Bin edges must be unique: Index([   -0.0004401733161894,                    0.0,                    0.0,
       7.3292997436100635e-06,     0.0001387977014823,     0.0003319334713196,
        0.0013986090484645005,     0.0039602184972106,     0.0065283769611569,
           0.0179157966158089,     0.0352803896227226],
      dtype='float64', name=2014-11).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] TA
[OK] AD
[OK] FM
[OK] FOE
[OK] IP
[SKIP] FVAD → ValueError: Bin edges must be unique: Index([    -0.0015901411715268, -1.0426392823560244e-06,
                           0.0,                     0.0,
                           0.0,                     0.0,
                           0.0,                     0.0,
                           0.0,  0.00011614485274533172,
            0.0038395290505122],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] NAPS
[SKIP] RSGL → ValueError: Bin edges must be unique: Index([    -0.014981072964076, -2.240175767001753e-05,                    0.0,
                          0.0,                    0.0,                    0.0,
                          0.0,                    0.0,                    0.0,
         0.000678019829385158,     0.0423116101467603],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] TMT
[OK] CAC
[OK] IBV
[OK] RDS
[OK] RDM
[OK] RCA
[OK] VAHU
[OK] Hn
[OK] LFE
[OK] Adm
[OK] gAd
[OK] Ol
[SKIP] AnA → ValueError: Bin edges must be unique: Index([               1.0,                1.0,                2.0,
       2.8000000000000025,                4.0,                6.0,
                      7.0,               10.0, 13.800000000000004,
                     19.0,               37.0],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[SKIP] ReA → ValueError: Bin edges must be unique: Index([               1.0,                1.0,  2.200000000000001,
       3.8000000000000025,                8.0,               11.0,
       14.600000000000005, 21.199999999999996, 28.400000000000013,
       39.599999999999994,              143.0],
      dtype='float64', name=2014-07).
You can drop duplicate edges by setting the 'duplicates' kwarg
[OK] Tan
[OK] INA
==================================================
成功因子数: 100
成功因子列表:
['mom6m', 'mom12m', 'mom36m', 'mom1m', 'chmom', 'turn', 'maxret', 'retvol', 'std_dolvol', 'std_turn', 'ill', 'zerotrade', 'beta', 'betasq', 'pricedelay', 'idiovol', 'prc', 'size', 'volt', 'B_Mkt', 'B_Mktsq', 'B_Dim', 'B_Dn', 'B_FF', 'B_HS', 'B_LSY', 'ACC', 'PACC', 'ATO', 'BM', 'CAPXG', 'CFD', 'CFOA', 'CFP', 'CP', 'CR', 'CRG', 'CTA', 'CTO', 'dBe', 'EBIT', 'EP', 'EY', 'GM', 'GP', 'IVC', 'IVG', 'IA', 'am', 'LG', 'DER', 'DLME', 'NOA', 'NPOP', 'dPIA', 'PY', 'QR', 'QRG', 'RNA', 'ROA', 'ROE', 'ROIC', 'SC', 'SI', 'SMI', 'SP', 'SG', 'TG', 'TBI', 'Z', 'CHTX', 'CINVEST', 'salerev', 'DA', 'TOR', 'EPS', 'CEPS', 'NCF', 'GS', 'ROO', 'TA', 'AD', 'FM', 'FOE', 'IP', 'NAPS', 'TMT', 'CAC', 'IBV', 'RDS', 'RDM', 'RCA', 'VAHU', 'Hn', 'LFE', 'Adm', 'gAd', 'Ol', 'Tan', 'INA']

分组成功
ok_factors是成功分组的列表
df_list是一个dataframe的集合，最后一列是分组结果

In [227]:
print(df_list['mom6m']['mom6m_g10'])

25903      4
27424      7
92153      1
92752      9
99609      6
          ..
533516     3
577692     5
634925    10
645948     6
663262     8
Name: mom6m_g10, Length: 5704, dtype: int64