In [ ]:
import func
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
chunk_size = 100000  # 每次处理 10 万行
#输出内容
op_path='standard'

import pandas as pd

# 读取CSV文件
df = pd.read_csv('CHN24/cn_company_profile.csv', encoding='utf-8')

# 将列名（第一行）转为大写
#df.columns = df.columns.str.upper()

# 保存到新文件
#df.to_csv('行业/data.csv', index=False, encoding='utf-8')

#print("处理完成！已保存为output.csv")

处理完成！已保存为output.csv

In [5]:
df_company=df

In [6]:
df_standard=func.read_csv('dataouput/df_merged_clean.csv')

0    000404
1    000410
2    000731
3    000733
4    000777
Name: STKCD, dtype: str

CSV 数据预览：
   Unnamed: 0   STKCD        date     mom6m    mom12m    mom36m     mom1m  \
0           0  000404  2014-07-31 -0.088187 -0.138364 -0.132333 -0.003650
1           1  000410  2014-07-31  0.018612 -0.027464 -0.416281 -0.008306
2           2  000731  2014-07-31 -0.311548 -0.493922  1.029172  0.011076
3           3  000733  2014-07-31  0.203806  0.262777 -0.074452  0.063256
4           4  000777  2014-07-31 -0.015070 -0.005435 -0.284763  0.014754

      chmom      turn  IPO  ...       gAd        Ol   AnA   ReA       Tan  \
0 -0.036485  4.436356  0.0  ...  1.395088  1.000964  11.0  20.0  0.486807
1  0.055385  2.148386  0.0  ... -0.082675  0.415115   1.0   1.0  0.576153
2 -0.039017  8.476014  0.0  ...  0.388712  1.163176  14.0  26.0  0.566533
3  0.230967  1.973812  0.0  ... -0.369872  0.743494   1.0   2.0  0.494767
4 -0.010320  2.509755  0.0  ...  0.015725  0.487756   1.0   1.0  0.538846

        INA   TRDMNT    MRETWD    MRETND  MARKETTYPE
0  0.024059  2014-07  0.093633  0.093633         4.0
1  0.046592  2014-07  0.166129  0.166129         4.0
2  0.044302  2014-07  0.126718  0.126718         4.0
3  0.026253  2014-07  0.169242  0.169243         4.0
4  0.043056  2014-07  0.377720  0.377720         4.0

[5 rows x 119 columns]

In [7]:
print(df_standard['TRDMNT'].dtype)

str

In [8]:
#df_company=func.read_csv('CHN24/cn_company_profile.csv')

In [9]:
print(df_company.columns.tolist())

['STKCD', 'STKNME', 'LISTDT', 'CUNTRYCD', 'CONME', 'CONME_EN', 'INDCD', 'INDNME', 'NINDCD', 'NINDNME', 'NNINDCD', 'NNINDNME', 'INDCDZX', 'INDNMEZX', 'ESTBDT', 'PROVINCE', 'PROVINCECODE', 'CITY', 'CITYCODE', 'OWNERSHIPTYPE', 'OWNERSHIPTYPECODE', 'FAVALDT', 'CURTRD', 'IPOPRM', 'IPOPRC', 'IPOCUR', 'NSHRIPO', 'PARVCUR', 'IPODT', 'PARVAL', 'SCTCD', 'STATCO', 'CRCD', 'STATDT', 'COMMNT', 'MARKETTYPE', 'FORMERCODE']

In [10]:
df_company['TRDMNT'] = df_company['LISTDT']

print(df_company_merge['TRDMNT'].dtype)
print(df_company_merge['TRDMNT'].head())
start_month = '2000-01' 
end_month = '2024-12'
df_company_merge = df_company_merge.copy()

df_company_merge['TRDMNT'] = (
    pd.to_datetime(df_company_merge['TRDMNT'].astype(str))
      .dt.to_period('M')
)
start_p = pd.Period(start_month, freq='M')
end_p   = pd.Period(end_month,   freq='M')
df_company_merge = df_company_merge[
    (df_company_merge['TRDMNT'] >= start_p) &
    (df_company_merge['TRDMNT'] <= end_p)
].copy()

print(df_company_merge['TRDMNT'].min(), df_company_merge['TRDMNT'].max())
print("行数：", len(df_company_merge))

# 匹配行业
'INDCDZX',

## 数据清理

In [11]:
# 1️⃣ LISTDT → datetime
df_company['TRDMNT'] = pd.to_datetime(df_company['TRDMNT'], errors='coerce')

# 2️⃣ datetime → 月度 Period，和 TRDMNT 对齐
df_company['TRDMNT'] = df_company['TRDMNT'].dt.to_period('M')

In [12]:
df_company_merge = df_company[['STKCD', 'TRDMNT', 'INDCDZX']].copy()

In [13]:
def to_yyyymm_str(s: pd.Series) -> pd.Series:
    return (
        pd.to_datetime(s.astype(str), errors='coerce')
          .dt.strftime('%Y%m')
    )
df_company_merge = df_company_merge.copy()
df_standard = df_standard.copy()

df_company_merge['TRDMNT'] = to_yyyymm_str(df_company_merge['TRDMNT'])
df_standard['TRDMNT']      = to_yyyymm_str(df_standard['TRDMNT'])
print(df_company_merge['TRDMNT'].dtype)
print(df_standard['TRDMNT'].dtype)

print(df_company_merge['TRDMNT'].head())
print(df_standard['TRDMNT'].head())

str
str
0    199104
1    199101
2    199107
3    199101
4    199012
Name: TRDMNT, dtype: str
0    201407
1    201407
2    201407
3    201407
4    201407
Name: TRDMNT, dtype: str

对df_company['LISTDT'] 进行重命名，为['TRDMNT'] 类型

补全df_company 中的STKCD为6位，STKCD前补0

导出df_company到csv文件

df_company['TRDMNT'] = df_company['TRDMNT'].astype(str)  # '1991-04' 这种
df_standard['TRDMNT'] = df_standard['TRDMNT'].astype(str).str.strip()

print("df_standard TRDMNT dtype:", df_standard["TRDMNT"].dtype)
print("df_company TRDMNT dtype:", df_company["TRDMNT"].dtype if "TRDMNT" in df_company.columns else "no TRDMNT")
print("df_company LISTDT dtype:", df_company["LISTDT"].dtype)
print(df_company[["TRDMNT"]].head(3))

In [14]:
print(df_company_merge.head())

   STKCD  TRDMNT INDCDZX
0      1  199104     J66
1      2  199101     K70
2      3  199107     S91
3      4  199101     I65
4      5  199012     N77

In [15]:
# df_company_merge: STKCD 补到6位
df_company_merge['STKCD'] = (
    df_company_merge['STKCD']
    .astype(str)
    .str.strip()
    .str.replace(r"\.0$", "", regex=True)  # 防止 1.0 这种
    .str.zfill(6)
)

In [16]:
print(df_company_merge['STKCD'])

0       000001
1       000002
2       000003
3       000004
4       000005
         ...
5907    920978
5908    920981
5909    920982
5910    920985
5911    920992
Name: STKCD, Length: 5912, dtype: str

In [17]:
print(df_standard['STKCD'])

0       000404
1       000410
2       000731
3       000733
4       000777
         ...
5699    600502
5700    600664
5701    600845
5702    600879
5703    601012
Name: STKCD, Length: 5704, dtype: str

In [18]:
df_standard = pd.merge(
    df_standard,
    df_company_merge,
    on=['STKCD'],
    how='left',
    validate='many_to_one'  # 行业代码在同一股票-月份下应唯一
)

In [19]:
print(df_standard.head())

   Unnamed: 0   STKCD        date     mom6m    mom12m    mom36m     mom1m  \
0           0  000404  2014-07-31 -0.088187 -0.138364 -0.132333 -0.003650
1           1  000410  2014-07-31  0.018612 -0.027464 -0.416281 -0.008306
2           2  000731  2014-07-31 -0.311548 -0.493922  1.029172  0.011076
3           3  000733  2014-07-31  0.203806  0.262777 -0.074452  0.063256
4           4  000777  2014-07-31 -0.015070 -0.005435 -0.284763  0.014754

      chmom      turn  IPO  ...   AnA   ReA       Tan       INA  TRDMNT_x  \
0 -0.036485  4.436356  0.0  ...  11.0  20.0  0.486807  0.024059    201407
1  0.055385  2.148386  0.0  ...   1.0   1.0  0.576153  0.046592    201407
2 -0.039017  8.476014  0.0  ...  14.0  26.0  0.566533  0.044302    201407
3  0.230967  1.973812  0.0  ...   1.0   2.0  0.494767  0.026253    201407
4 -0.010320  2.509755  0.0  ...   1.0   1.0  0.538846  0.043056    201407

     MRETWD    MRETND  MARKETTYPE  TRDMNT_y  INDCDZX
0  0.093633  0.093633         4.0    199606      C34
1  0.166129  0.166129         4.0    199607      C34
2  0.126718  0.126718         4.0    199706      C26
3  0.169242  0.169243         4.0    199707      C39
4  0.377720  0.377720         4.0    199707      C34

[5 rows x 121 columns]

In [22]:
df_standard.rename(columns={'TRDMNT_x': 'TRDMNT'}, inplace=True)

In [23]:
df_standard.to_csv('hangyedata.csv', index=False, encoding='utf-8')

In [ ]:
print(df_standard['STKCD'].head(10).tolist())
print(df_company_merge['STKCD'].head(10).tolist())

['000404', '000410', '000731', '000733', '000777', '000816', '000829', '000951', '000969', '000998']
['000001', '000002', '000003', '000004', '000005', '000006', '000007', '000008', '000009', '000010']

In [ ]:
print(df_standard['TRDMNT'].dtype, df_standard['TRDMNT'].head(3).tolist())
print(df_company_merge['TRDMNT'].dtype, df_company_merge['TRDMNT'].head(3).tolist())

str ['201407', '201407', '201407']
str ['199104', '199101', '199107']

In [ ]:
tmp = df_standard[['STKCD','TRDMNT']].merge(
    df_company_merge[['STKCD','INDCDZX']].drop_duplicates('STKCD'),
    on='STKCD',
    how='left',
    indicator=True
)
print(tmp['_merge'].value_counts())

_merge
both          5704
left_only        0
right_only       0
Name: count, dtype: int64

In [ ]:
dup_mask = df_company_merge.duplicated(
    subset=['STKCD', 'TRDMNT'],
    keep=False
)

print("重复行数：", dup_mask.sum())

重复行数： 0

# 进行标准化处理
相同的行业中，所有的因子进行标准化。
除了[MARKETTYPE  TRDMNT_y  INDCDZX TRDMNT STKCD    date]

In [ ]:
df_standard.dtypes

Unnamed: 0      int64
STKCD             str
date              str
mom6m         float64
mom12m        float64
               ...
MRETWD        float64
MRETND        float64
MARKETTYPE    float64
TRDMNT_y          str
INDCDZX           str
Length: 121, dtype: object

In [26]:
df = pd.read_csv('hangyedata.csv', encoding='utf-8')
df_standard=df

In [27]:
import numpy as np
import pandas as pd

# 1️⃣ 明确哪些列不能动
exclude_cols = [
    'MARKETTYPE', 'TRDMNT_y', 'INDCDZX',
    'TRDMNT', 'STKCD', 'date'
]

# 2️⃣ 自动识别「因子列」
factor_cols = [
    c for c in df_standard.columns
    if c not in exclude_cols
    and pd.api.types.is_numeric_dtype(df_standard[c])
]

print("将被标准化的因子列数量:", len(factor_cols))

# 3️⃣ 行业 × 月份 内做 z-score
df_standard[factor_cols] = (
    df_standard
    .groupby(['INDCDZX', 'TRDMNT'])[factor_cols]
    .transform(lambda x: (x - x.mean()) / x.std(ddof=0))
)
print("标准化完成！")
print(df_standard[factor_cols].head())

将被标准化的因子列数量: 115
标准化完成！
   Unnamed: 0     mom6m    mom12m    mom36m     mom1m     chmom      turn  \
0   -1.053283 -0.706601 -0.532268  0.931926 -0.313400 -0.341891  1.014150
1   -0.944857  0.171942 -0.013039 -1.415415 -0.551104  0.166868 -0.825943
2   -1.520511 -1.385757 -1.483087  0.414965  0.250184 -0.627016  1.743576
3   -1.000000  1.000000  1.000000 -1.000000 -1.000000  1.000000 -1.000000
4   -0.619578 -0.105128  0.090096 -0.328180  0.626181 -0.196995 -0.535313

   IPO  indmom    maxret  ...       LFE       Adm       gAd        Ol  \
0  NaN     1.0 -0.748778  ...  0.235288  0.631835  0.859454  2.069425
1  NaN     1.0 -1.281294  ... -0.989187  1.952067 -0.780848 -1.119714
2  NaN     NaN  0.342627  ... -2.026270 -0.041046  0.380503  1.134960
3  NaN     NaN -1.000000  ...  1.000000 -1.000000 -1.000000  1.000000
4  NaN     1.0  0.942933  ...  0.516685  0.330009 -0.671625 -0.724285

        AnA       ReA       Tan       INA    MRETWD    MRETND
0  0.320844  0.133202  0.428660 -0.804534 -0.382323 -0.382097
1 -1.283378 -1.343119  1.495426 -0.600365  0.292725  0.292876
2  2.010283  1.953510  0.892178 -0.392280  0.728802  0.728802
3 -1.000000 -1.000000 -1.000000  1.000000  1.000000  1.000000
4 -1.283378 -1.343119  1.049996 -0.632404  2.262957  2.262888

[5 rows x 115 columns]

In [28]:
df_standard.to_csv('standard_hangye.csv', index=False, encoding='utf-8')